---
import Layout from "../../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../../pages/posts/*.mdx");
const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft);
---

<Layout title="Blog Home">
  <p>this is the home page for the blog</p>
  <p>all blogs will be show here</p>
  <ul>
    {
      nonDraftPosts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.postTitle}</a>
        </li>
      ))
    }
  </ul>
</Layout>
